@import '../../index.less';

@header-height: 40px;
@slider-width: 120px;

.theme-light() {
    .container {
        background-color: @normal-theme-basic-bgc-color;
        color: inherit;

        .content {
            background-color: @normal-theme-function-bgc-color;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
            color: inherit;
        }

        .navigator,
        .slider {
            background-color: @normal-theme-basic-bgc-color;
        }

        .footer {
            background-color: @normal-theme-function-bgc-color;
            color: #8a9099;
            font-size: 13px;
        }
    }

    .hover-icon {
        fill: #000;

        &:hover {
            fill: rgb(22, 119, 255)
        }
    }

}

.theme-dark() {
    .container {
        background-color: @dark-theme-basic-bgc-color;

        .content {
            background-color: @dark-theme-function-bgc-color;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
            color: inherit;
        }

        .navigator,
        .slider {
            background-color: @dark-theme-basic-bgc-color;
        }

        .footer {
            background-color: @dark-theme-function-bgc-color;
            color: #8a9099;
            font-size: 13px;
        }
    }

    .hover-icon {
        fill: #8590a0;

        &:hover {
            fill: rgb(22, 119, 255)
        }
    }
}

.container {
    min-height: 100vh;
    color: inherit;
    width: 100vw;
}

.theme-light();

@media (prefers-color-scheme: dark) {
    .theme-dark();
}